<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo">🍕 PizzaGo</span>

  <span class="spacer"></span>
  <button class="goToFeedback" (click)="goToFeedback()">Залишити відгук</button>
  <button class="gotoAdds" (click)="gotoAdds()">Соуси та Напої</button>
  <a mat-button routerLink="/cart" class="cart-link">
    @if (cartItemsCount > 0) {
    <button mat-icon-button [matBadge]="cartItemsCount" matBadgeColor="accent">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    } @else {
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    }
  </a>
</mat-toolbar>
