<div class="filters">
  <button
    *ngFor="let category of categories"
    [class.active]="selectedCategory === category"
    (click)="setCategory(category)"
  >
    {{ category }}
  </button>

  &nbsp;|&nbsp;

  <button (click)="setSort('price')">
    Ціна 💲
    <span *ngIf="sort === 'price'">
      {{ sortDir === "asc" ? "⬆️" : "⬇️" }}
    </span>
  </button>

  <button (click)="setSort('rating')">
    Рейтинг 🥇
    <span *ngIf="sort === 'rating'">
      {{ sortDir === "asc" ? "⬆️" : "⬇️" }}
    </span>
  </button>
</div>

<div class="pizza-list">
  <app-pizza-item
    *ngFor="let pizza of filteredPizzas"
    [pizza]="pizza"
  ></app-pizza-item>
</div>
