<div class="filters">
  @for (category of categories; track category) {
  <button
    [class.active]="selectedCategory === category"
    (click)="setCategory(category)"
  >
    {{ category }}
  </button>
  } &nbsp;|&nbsp;

  <button (click)="setSort('price')">
    Ціна 💲 @if (sort === 'price') {
    {{ sortDir === "asc" ? "⬆️" : "⬇️" }}
    }
  </button>

  <button (click)="setSort('rating')">
    Рейтинг 🥇 @if (sort === 'rating') {
    {{ sortDir === "asc" ? "⬆️" : "⬇️" }}
    }
  </button>
</div>

<div class="pizza-list">
  @for (pizza of filteredPizzas; track pizza.id) {
  <app-pizza-item [pizza]="pizza"></app-pizza-item>
  }
</div>
