@if (!submitted) {
<form (ngSubmit)="submit(f)" #f="ngForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Ім’я</mat-label>
    <input
      matInput
      name="name"
      [(ngModel)]="order.name"
      required
      #name="ngModel"
    />
    @if (name.invalid && name.touched) {
    <mat-error>Ім’я обов’язкове</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Телефон</mat-label>
    <input
      matInput
      name="phone"
      [(ngModel)]="order.phone"
      required
      minlength="10"
      maxlength="14"
      #phone="ngModel"
    />
    @if (phone.errors?.['required'] && phone.touched) {
    <mat-error>Телефон обов’язковий</mat-error>
    } @if ( phone.errors?.['minlength'] && phone.touched &&
    !phone.errors?.['required'] && !phone.errors?.['maxlength'] ) {
    <mat-error>
      Телефон має містити не менше 10 цифр та не більше 13 цифр
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input
      matInput
      name="email"
      [(ngModel)]="order.email"
      required
      #email="ngModel"
    />
    @if (email.invalid && email.touched) {
    <mat-error>Email обов’язковий</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Адреса доставки</mat-label>
    <input
      matInput
      name="address"
      [(ngModel)]="order.address"
      required
      #address="ngModel"
    />
    @if (address.invalid && address.touched) {
    <mat-error>Адреса обов’язкова</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Коментар до замовлення</mat-label>
    <textarea matInput name="comment" [(ngModel)]="order.comment"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    ✅ Підтвердити замовлення
  </button>
</form>
} @else {
<div class="payment-message">
  <b>Оплата...</b>
</div>
}
