<form *ngIf="!submitted" (ngSubmit)="submit(f)" #f="ngForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Ім’я</mat-label>
    <input
      matInput
      name="name"
      [(ngModel)]="order.name"
      required
      #name="ngModel"
    />
    <mat-error *ngIf="name.invalid && name.touched">Ім’я обов’язкове</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Телефон</mat-label>
    <input
      matInput
      name="phone"
      [(ngModel)]="order.phone"
      required
      minlength="10"
      maxlength="14"
      #phone="ngModel"
    />
    <mat-error *ngIf="phone.errors?.['required'] && phone.touched">
      Телефон обов’язковий
    </mat-error>

    <mat-error
      *ngIf="phone.errors?.['minlength'] && phone.touched && !phone.errors?.['required'] && !phone.errors?.['maxlength']"
    >
      Телефон має містити не менше 10 цифр та не більше 13 цифр
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input
      matInput
      name="email"
      [(ngModel)]="order.email"
      required
      #email="ngModel"
    />
    <mat-error *ngIf="email.invalid && email.touched"
      >Email обов’язковий</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Адреса доставки</mat-label>
    <input
      matInput
      name="address"
      [(ngModel)]="order.address"
      required
      #address="ngModel"
    />
    <mat-error *ngIf="address.invalid && address.touched"
      >Адреса обов’язкова</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Коментар до замовлення</mat-label>
    <textarea matInput name="comment" [(ngModel)]="order.comment"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    ✅ Підтвердити замовлення
  </button>
</form>

<div *ngIf="submitted" class="payment-message">
  <b>Оплата...</b>
</div>
